body {
  margin: 0px;
  background-color: black;
}

.dogs-container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.dog-container {
  object-fit: cover;
  width: 150px;
  height: 150px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  outline: 0px solid transparent;
  transition: outline 1s;
}

.dog-container:hover {
  outline: 1px solid white;
}

.modal-card {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.425);
  z-index: 1000;
  cursor: pointer;
}

.modal-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}
